body{
    width: 100%;
    background-color:beige;
}
#pagebody{
    position: relative;
    margin: 0 auto;
    width: 98%;
    max-width: 1200px;
    background-color: #e8eded;
    
}

section h2 {
    font-size: 120%;
}

/*==================================
卒検ロゴ
====================================*/
#rogo {
    position: absolute;
    width: 15vw;
    height: 15vw;
    z-index: 3;
    top: 0;
    left: 0;
    //overflow: hidden;
    
    
}


.sotukenrogo{
    position: fixed;
    
    top: -7vw;
    left: -7vw;
     width: 22vw;
    //max-width: 200px;
    height: 22vw;
    //max-height: 200px;
    
    
}


#rogo #test01 {
    background: none;
        -webkit-animation: spin 20.5s linear infinite;
        -moz-animation: spin 20.5s linear infinite;
        -ms-animation: spin 20.5s linear infinite;
        -o-animation: spin 20.5s linear infinite;
        animation: spin 20.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#rogo #test02 {
    background: none;
        -webkit-animation: spin1 100.5s linear infinite;
        -moz-animation: spin1 100.5s linear infinite;
        -ms-animation: spin1 100.5s linear infinite;
        -o-animation: spin1 100.5s linear infinite;
        animation: spin1 100.5s linear infinite;
}


@-webkit-keyframes spin1 {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin1 {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
    
    
/*==================================
index
====================================*/
#loginform {
    text-align: center;
    
}

#loginform label {
    display: inline-block;
    width: 100px;
    text-align: center;
    
}

#loginform input {
    margin-bottom: 5px;
    
}

/*==================================
すべての表
====================================*/
table {
    margin: 0 auto;
    text-align:center;
    background-color: white;
}

table th {
    text-align:center;
    
}

/*==================================
main
====================================*/
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#main h2 {
    margin: 2px;
    
}
#main section {
    
   margin: 5px;
    
}

#main section {
    //flex: 1;
}

#main #registration {
    order: -1;
}

#main #personal_schedule {
    //flex: 9;
}




/*==================================
通過ページ
====================================*/
#passage {
    margin:0 auto;				                 /*内容全体をセンタリング*/
    text-align: center;
    
}

/*==================================
ヘッダ
====================================*/
header {
	width: 100%; height: 50px;
	background-color:rgba(19, 62, 49, 0.84);
    color: azure;
	}

header h1 {
    position: absolute;
    display: inline-block;
	font-size:30px;
    max
    line-height: 50px;
    //width: 50%;
    padding-left: 15vw;
    //float: left;
	}

header a {
	text-decoration:none;
	color: azure;
	}

header a:first-child:hover {
	color: #63fcf0;
	}


/*==================================
在室状況
====================================*/
#now{
    
    
}

#now h2 {
    margin: 3px;
    
}





/*==================================
本日の予定
====================================*/
#today{
    margin:0 auto;				                 /*内容全体をセンタリング*/
    text-align: center;
       
}

#today h2{
    margin-bottom: 3px;
}

#today marquee {
    width: 70%;
    background-color: black;
    color: floralwhite;
    
    
}



/*==================================
現在の在室状況
====================================*/

#now {
    text-align:center;
}


#member ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 100%;
    margin: 0 auto;
}
#member ul li{
    position: relative;
    list-style-type:none;
    text-align:center;
}

#member ul li a{
	text-decoration:none;
}

#member ul li a:hover{
	color: #b900db;
}

#member span {
    position: relative;
    top: 0px;
    //left: -30px;
}

.situ {
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 3;
}

/*----------自動ログインモード----------*/

#autologin {
    width: 100px;
    height: 100px;
    
    
    
    
    
}





#reload {//更新ボタン
    
}

/*==================================
ユーザーバー
====================================*/
#user {
    width: 100%;
    background-color:aqua;
    
}

#user a {
    text-decoration:none;
    float: right;
    padding-right: 5px;
}

/*==================================
登下校登録
====================================*/
#registration {
    min-width: 40%;
}

#registration form {
    display: flex;
    flex-wrap: wrap;
    
}

#registration input {
    width: 110px;
    height: 110px;
    
    margin: 10px;
    
    font-size: 140%;
    //line-height: 140%;
    color: floralwhite;
    border-style: none;

    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    
    text-shadow: 1px 1px 2px #000;
    
    
    border-radius: 5px;
    
    


}

#registration input[disabled] {
    background-color: dimgray;
    color: darkgray;
    
}

#toukou{
    background-color: crimson;
    
}

#toukou:hover{
    background-color: red;
    
}

#gekou{
    background-color: cornflowerblue;
    
}

#gekou:hover{
    background-color: deepskyblue;
    
}

#regekou{
    font-size: 120%;
    background-color: gold;
    
}

#regekou:hover{
    background-color: khaki;
    
}

#joukyou select{
    width: 110px;
    font-size: 150%;
    
    
}

#joukyou input{
    background-color: lime;
    
    
}

#joukyou input:hover{
    background-color: greenyellow;
    
    
}


/*==================================
個人予定
====================================*/
#personal_schedule {
    min-width: 50%;
    
    
    
    
}

#personal_schedule li{
    list-style-type: none;
    
    
    
    
}

.todaystasks {
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 170%;
    color: crimson;
    
    
    
}

.tommorowstasks {
    margin-bottom: 3%;
    font-weight: 600;
    font-size: 130%;
    
    
    
    
    
    
}



/*==================================
全体予定登録
====================================*/
#memtask {
    min-width: 30%;
    
    
}

#memtask h2 {
    color: red;
    
    
}




/*==================================
個人予定登録
====================================*/
#pertask {
    min-width: 30%;
    
}

#pertask h2 {
    color: blue;
    
}




/*==================================
google カレンダー
====================================*/
#calendar {
    min-width: 50%;
    
    
    
}

iframe {
    width: 100%;
    height: 500px;
   
    
}






/*==================================
簡易掲示板
====================================*/
#bbs {
    min-width: 45%;
    
}

#bbs ul {
    background-color: #228B22;
    color: #FFFFFF;
    padding: 5px;
    height: 30em;
    border: solid black;
    font-size: 85%;
    overflow: auto;
    
}

#bbs ul li {
    list-style-type:none;
    
    
}


textarea {/*bbs内容*/
    width: 70%;
    height: 3em;
}

/*==================================
twitter
====================================*/
#twitter {
    
    
}



/*==================================
出席確認
====================================*/
#at_check {
    min-width: 30%;
}



/*==================================
更新情報
====================================*/
#update ul {
    height: 20em;
    overflow: auto;
    
    
    
    
}







hr {
	//clear: both;
	width: 100%;
	margin: 10px 0px;
	border: 1px dotted #CCCCCC;
	}
    







/*==================================
フッター
====================================*/
#footer {
    background-color:rgba(19, 62, 49, 0.84);
    text-align: center;
}

#footer a {
    color: azure;
    text-decoration: none;
}

#footer a:hover {
    color: #63fcf0;;
}


/*==================================



個別ページ


====================================*/

/*==================================
admin
====================================*/
#admin {
    
    
    
    
    
    
    
}

#admin table{
    width: 60%;
    
    
    
    
    
    
    
}

/*--------------タブレットのスタイル-----------------*/
@media all and (max-width: 670px) {
    
    header a:first-child{
        display: none;
    }
    
    #twitter {
        display: none;
    }
    
    #main {
        flex-direction: column;
        
    }
    
    #main section {
        flex: 1;
    }
    
    

}















